@import "../components/colours";

.page {
  * {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }

  .overview {
    margin: auto;
    display: flex;
    text-align: center;
    max-width: 720px;
    height: calc(100vh - 68px);

    .layout-content {
      margin: 16px;
      align-self: center;
      overflow: hidden;

      .logo {
        margin: 16px 0;
        height: 128px;
        width: 128px;
      }

      h1 {
        color: $gunmetal;
        margin: 24px 0;
        line-height: 3rem;
        font-size: 2rem;
      }

      h2 {
        color: $default-text;
        line-height: 1.5rem;
        font-size: 2rem;
      }
    }
  }
}
