@import "../components/colours";

.policy-page {
  overflow-x: hidden;

  * {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }

  .policy {
    margin: 0 auto 16px;
    display: flex;
    max-width: 960px;
    text-align: start;

    .layout-content {
      margin: 16px;

      .logo {
        margin: 16px 0;
        height: 128px;
        width: 128px;
      }

      h1 {
        color: $medium-slate-blue;
        margin: 16px 0;
        line-height: 3rem;
        font-size: 2rem;
      }

      h2 {
        color: $gunmetal;
        line-height: 3rem;
        font-size: 1.5rem;
      }

      h3 {
        font-weight: 500;
        color: $gunmetal;
        line-height: 2.5rem;
        font-size: 1.25rem;
      }

      p {
        margin: 8px 0;
        color: $gunmetal;
        line-height: 1.5rem;
        font-size: 1rem;
      }

      ul {
        margin-left: 24px;

        li {
          margin: 8px 0;
          color: $gunmetal;
          line-height: 1.5rem;
          font-size: 1rem;
        }
      }
    }
  }
}
