@import "../components/colours.scss";

footer {
  background: #FAFAFA;

  .container {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .content {
    font-family: "Nunito Sans", sans-serif;
    margin: auto;
    padding: 32px 0;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    > .container {
      margin: 0 8px;
    }

    a {
      color: $gunmetal;
      text-decoration: none;
      margin: 0 8px;

      &:hover {
        transition: 0.5s;
        cursor: pointer;
        color: $medium-slate-blue;
      }
    }
  }
}
