@import "./colours";

header {
  padding: 4px 0;
  width: 100%;
  background: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);

  a {
   text-decoration: none;
    color: $gunmetal;

    &:hover {
      cursor: pointer;
    }
  }

  .container {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .logo {
    margin: 0 8px;
    width: 32px;
    height: 32px;
  }

  .content {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
  }
}
